@import "tailwindcss";

body,
html {
  font-family: "Muller Narrow", sans-serif;
  font-family: "Muller", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: url("./assets/main-layout-bg.jpg");
  background-size: cover;
}

.main-layout {
  max-width: 1264px;
  width: 90%;
  margin: 0 auto;
}

.montserrat-regular,
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Обычный */
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Жирный */
  font-style: normal;
}
